.schedulecard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;

  &:last-child {
    margin-bottom: 0px;
  }

  i {
    cursor: pointer;
    font-size: 14px;
    color: white;
    padding: 5px;
    border-radius: 50px;

    &:first-child {
      background-color: green;
    }

    &:last-child {
      background-color: red;
    }
  }

  .schedule-desc {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 0px 20px;
  }

}