@import '../../styles/colors.scss';

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: white;
  z-index: 100;

  .sidebar-logo {
    margin-bottom: 10px;
    padding: 20px;
    color: $primary-color;
    font-weight: 700;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    color: rgba(black, 0.8);
    margin-right: 30px;

    .sidebar-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 10px 30px 10px 20px;
      transition: 0.2s ease-in-out;
      border-radius: 0px 20px 20px 0px;



      i {
        font-size: 20px;
        margin-right: 20px;
      }

      span {
        font-size: 18px;
      }

      &:hover {
        background-color: $primary-color;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }

    }

    .active {
      background-color: $primary-color;
      color: white;
    }
  }
}